.App {
  text-align: center;
  background-color: #282c34;
}

*,h1,h2,h3,p{
  padding:0;
  margin:0 auto;
}

body{
  background-color: #282c34;
}

h3{
  font-family: serif;
  font-style: italic;
  font-weight:800;
  color:rgb(215, 35, 44)
}

.blue{
  color:blue;
}

.movieCard{
  width:300px;
  margin-top: 10px;
  border: 1px solid rgb(101, 101, 108);
  border-radius: 4px;
  color:darkkhaki;
  padding: 6px 10px;
}

.actorsList{
 
}





.actorsParagraph{
  color:aquamarine;
  font-size: 14px;
}

.timer{
  color:cornflowerblue;
  text-align: center;
}

.butt{
  font-size: 18px;
  width: 60px;
  height: 20px;
}

.box{
  width:300px;
  height: 500px;
  background-color: blue;
}

.delete-button{
  background-color: brown;
  color:rgb(244, 172, 172)
}
