.App {
  text-align: center;
  background-color: #282c34;
}

*,h1,h2,h3,p{
  padding:0;
  margin:0 auto;
}

body{
  background-color: #282c34;
}

h2{
  color:rgb(203, 4, 14)
}

.blue{
  color:blue;
}

.movieCard{
  width:300px;
  margin-top: 10px;
  border: 1px solid rgb(101, 101, 108);
  border-radius: 4px;
  color:darkkhaki;
  padding: 6px 10px;
}

.actorsList{
 
}





.actorsParagraph{
  color:aquamarine;
  font-size: 14px;
}

.timer{
  color:cornflowerblue;
  text-align: center;
}

.butt{
  font-size: 18px;
  width: 60px;
  height: 20px;
}
